[submodule "vim-plugin.syntastic"]
	path = homedir/.vim/pack/vendor/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim-plugin.nerdtree"]
	path = homedir/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim-plugin.rainbow"]
	path = homedir/.vim/pack/vendor/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "ls_colors"]
	path = gitclones/trapd00r.LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
