#!/usr/bin/env bash

{{$fzf_head := (joinPath .chezmoi.homeDir ".fzf" ".git" "HEAD")}}
{{if stat $fzf_head}}

# fzf hash: {{ include $fzf_head }}

${HOME}/.fzf/install --all --xdg --key-bindings --completion

{{end}}
