[includeIf "gitdir:~/.config/"]
    path = ~/.config/dotfiles/git/github.com/blehrer/gitconfig
[includeIf "gitdir:~/github.com/"]
    path = ~/.config/dotfiles/git/github.com/blehrer/gitconfig
[includeIf "gitdir:~/workplace/github.com/NBCUOTS/"]
    path = ~/.config/dotfiles/git/github.com/NBCUOTS/gitconfig
[includeIf "gitdir:~/workplace/github.com/OnAirSystems/"]
    path = ~/.config/dotfiles/git/github.com/OnAirSystems/gitconfig
[includeIf "gitdir:~/workplace/github.inbcu.com/OnAirSystems/"]
    path = ~/.config/dotfiles/git/github.inbcu.com/OnAirSystems/gitconfig
[includeIf "gitdir:~/Documents/jira/svcs6/"]
    path = ~/.config/dotfiles/git/git-work.conf
[includeIf "gitdir:~/Documents/jira/oput1/"]
    path = ~/.config/dotfiles/git/git-work.conf
[includeIf "gitdir:~/Documents/jira/tll/"]
    path = ~/.config/dotfiles/git/git-work.conf
[includeIf "gitdir:~/Documents/jira/xit/"]
    path = ~/.config/dotfiles/git/git-work.conf
[core]
    autocrlf = input
    excludesfile = ~/.config/dotfiles/git/gitignore_global
[log]
    follow = true
[alias]
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    backup = "!git push -f -u origin HEAD:bl-backup/$(git branch-name)"
    delete-from-origin = "!git push -d origin $(git branch-name | tr -d '[:space:]')"
    clone-gh = "!git clone git@github.com:$1"
[init]
    defaultBranch = main
