[include]
    path = ~/.config/dotfiles/git/git-personal.conf
[includeIf "gitdir:~/workplace/"]
    path = ~/.config/dotfiles/git/git-work.conf
[includeIf "gitdir:~/Documents/jira/"]
    path = ~/.config/dotfiles/git/git-work.conf
[core]
    autocrlf = input
    excludesfile = ~/.config/dotfiles/git/gitignore_global
[log]
    follow = true
[alias]
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    backup = "!git push -f -u origin HEAD:bl-backup/$(git branch-name)"
    delete-from-origin = "!git push -d origin $(git branch-name | tr -d '[:space:]'"
[init]
defaultBranch = main
[credential]
    helper = /usr/bin/git-credential-manager-core
    helper = manager-core
[credential "github.com"]
    useHttpPath = true
