import os
import itertools


def main(args):
    home = os.getenv('HOME')
    cz_1 = os.path.join(home, '.local', 'bin', 'chezmoi')
    cz_2 = os.path.join(home, '.bin', 'chezmoi')
    paths = list(itertools.dropwhile(lambda p: not os.path.exists(p), [cz_1, cz_2]))
    if len(paths) > 0:
        os.system(f'{paths[0]} edit ~/.config/kitty/kitty.conf')


if __name__ == "__main__":
    main()

#vim: ft=python.gotexttmpl
